@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: itim;
    font-size: 20px;
}
/*header*/
h2{
    font-size: 40px;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(238, 238, 238);
    z-index: 1;
}

.navbar{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.header2 h2{
  font-size: 25px;
}

.navlinks{
    padding: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.link{
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    transition: 0.5s;
}

.link:hover{
    opacity: 1;
}

.navbar a.split {
    padding: 0 20px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 100;
  }
/*sidebar*/
aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 25px;
    float: left;
    font-style: italic;
    background-color: rgb(164, 162, 162);
    border-radius: 10%;
    height: 150px;
    position: absolute;
    margin-top: 60px;
    opacity: 1;
  }
h4{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*filter*/
.filters__list li {
  display: flex;
  align-items: center;
  user-select: none;
  padding-bottom: 1em;
  line-height: 0;
  text-transform: capitalize;
}

.filters__list li:last-child {
  padding-bottom: 0;
}

input[type="checkbox"] {
  margin-right: 0.5em;
  margin-bottom: -3px;
}

/*product*/
product-container{
  display:grid;
  gap: 50px;
}

ul.product-container{
  display: grid;
  margin-left: 250px;
  margin-top: 60px;
  grid-template-columns: repeat(auto-fit, 9rem);
}

li.product-container{
  list-style: none;
}

.product-card{
  margin-bottom: 15px;
}

.product-card .product-image{
position:static;
width:fit-content;
height: fit-content;
display:grid;
margin-left: 11px;
margin-bottom: 5px;
}

.product-card .product-image img{
max-width: 250px;
max-height: 230px;
height: 290px;
}

.product-card h2{
  font-size: 15px;
  justify-content: center;
  text-align: center;
  }

.product-card .prices{
  text-align: center;
}

.product-card .prices span{
  font-size: 17px;
}

.product-card .Add-btn{
  padding: 5px;
  width: 85%;
  margin-top: 5px;
  margin-left: 11px;
  max-width: 190px;
  background: rgb(233, 233, 233);
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-card .Add-btn:hover{
  background: rgb(210, 210, 210);
}

/*footer*/
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    word-break: break-word;
}

.footer{
    background-color: black;
    padding:10px 10vw;
    position:static;
}

.footer-col{
    width: 25%;
    padding: 50px 50px;
}

.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col .social-links a{
    display:inline-block;
    height:40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;;
}

p{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}

/*responsive*/
@media(max-width: 1450px) {
  aside{
    width: 170px;
    padding: 15px;
    margin-left: 45px;
  }
}

@media(max-width: 767px) {

  aside{
    width: 170px;
    padding: 15px;
    margin-left: 45px;
  }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 564px) {
  aside{
    width: 170px;
    padding: 15px;
    margin-left: 45px;
  }

    .footer-col{
        width: 100%;
    }
}