@import 'Shopping.css';
*{
    margin: 0;
    padding: 0;
    font-family: 'Itim';
    font-size: 22px;
    box-sizing: border-box;
}
h2{
    font-size: 35px;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(238, 238, 238);
    z-index: 1;
}

.navbar{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.navlinks{
    padding: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.link{
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    transition: 0.5s;
}

.link:hover{
    opacity: 1;
}

.navbar a.split {
    float: right;
    margin: 0 10px;
    color: rgb(0, 0, 0);
  }

.herosec{
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../Images/italian-fashion-preview.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herosec .name{
    height: 150px;
    display: block;
    margin: auto;
}

.herosec .subtext{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.products{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    margin-top: 10px;
}

.discount-products{
    padding: 0 10vw;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: smooth;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}


.product-image img{
    max-width: 250px;
    
}

.discount-tag{
    padding: 5px;
    right: 10px;
    top: 10px;
    background: white;
    border-radius: 5px;
    color: red;
    position: absolute;
}
