@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: itim;
}
/*header*/
.header2{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(161, 153, 153, 0.479);
    z-index: 9;
}

.navbar{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.navlinks{
    padding: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

  .dropbtn {
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 20px;
    border: none;
  }
  
  .dropdown {
    position: sticky;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
  }
  
  .dropdown-content a:hover {background-color: rgb(116, 117, 140);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #c8a76e;}

  
 /*sidebar*/
aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: rgb(164, 162, 162);
    border-radius: 10%;
    height: 225px;
  }
h4{
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
    
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 13px;
    width: 13px;
    background-color: rgb(250, 250, 250);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 2px;
    height: 7px;
    border: solid rgb(114, 46, 46);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/*price range*/
  .card {
    width:155px;
    background-color: rgba(215, 164, 166, 0.804);
    border-radius: 10%;
    padding: 5px;
    height:90px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  h3 {
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    margin-top:0px;
    font-size: 18px;
  }
  
  .price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    font-size: 5px;
  }
  
  label {
    font-size: 15px;
    font-weight: 350;
  }
  
  p {
    font-size: 5px;
    font-weight: 300;
    top: -5px;
  }
  
  .range-slider {
    width: 140px;
    position: relative;
    margin: 1px 0 15px 0;
    top: -10px;
    left: 3px;

  }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent; 
    position: absolute;
    left: 0;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #36b37e;
    cursor: pointer;
    margin-top: -3px;
    position: relative;
    z-index: 1;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #674a4a;
    border-radius: 3px;
    border: none;
  }


/*product*/
  .products{
    padding: 0 10vw;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 33px;
    font-weight: 500;
}

.product-container{
  padding: 0 10vw;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-bottom: 40px;
}

.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 430px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.product-image img{
  max-width: 220px;
  max-height: 290px;
  height: 290px;
}

  /*women's section*/
.womens{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.womens .prev-button, .womens .next-button{
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, white 100%);
  cursor: pointer;
  z-index: 2;
}
.ladies-col{
  padding: 0 10vw;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.ladies-col span{
  font-size: 27px;
  font-weight: 500;
}

.ladies-col a{
  text-decoration: none;
  bottom: 0;
  font-size: 25px;
}
  /*Men's section*/
  .mens{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.mens .prev-button, .mens .next-button{
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, white 100%);
  cursor: pointer;
  z-index: 2;
}
.mens-col{
  padding: 0 10vw;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.mens-col span{
  font-size: 27px;
  font-weight: 500;
}

.mens-col a{
  text-decoration: none;
  bottom: 0;
  font-size: 25px;
}

.prev-button{
  transform: rotate(180deg);
  left: 0;
}

.next-button{
  right: 0;
}

.prev-button img, .next-button img{
  opacity: 0.3;
}

.prev-button:hover img, .next-button:hover img{
  opacity: 1;
}

  /*footer*/
  .container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    word-break: break-word;

}
.footer{
    background-color: black;
    padding:10px 10vw;
}

.footer-col{
    width: 25%;
    padding: 50px 50px;
}

.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col .social-links a{
    display:inline-block;
    height:40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;;
}

p{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}

/*responsive*/
@media(max-width: 1950px) {
  aside{
    width: 170px;
    padding: 15px;
    margin-left: 45px;
  }
}

@media(max-width: 767px) {

  aside{
    width: 170px;
    padding: 15px;
    margin-left: 45px;
  }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 564px) {

  aside{
    width: 170px;
    padding: 15px;
    margin-left: 45px;
  }

    .footer-col{
        width: 100%;
    }
}
 